{% extends 'ecommerce_app/base.html' %}

{% block title %}
    {{ product.name }} |
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">

            <p><a href="{% url 'index' %}">All Products </a> &gt;
                {{ product.name }}
            </p>
                <h2>{{ product.name }}</h2>
                <p>{{product.description}}</p>
                <p>Price Rs. {{ product.price }}</p>

                <form action="{% url 'product_detail' product.id product.slug %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Add to cart" class="btn btn-primary" >
                </form>
				
				<h2>Other Products from the category {{product.category}}</h4>

                <div class="category-item-container">
                    {% for prod in similarProducts %}
                    {% if prod != null %}

                        <div class="index-item-container">
                            <h3><a href="{% url 'product_detail' prod.pk prod.slug %}">{{ prod.name }}</a></h3>
                            <p>Price Rs.{{ prod.price }}</p>
                        </div>

                        {% endif %}
                        {% endfor %}
                    </div>
                    

                    {% if product.recommended != null %}
				<h3> Recommended Products : <a href="{% url 'product_detail' product.recommended.pk product.recommended.slug %}">{{ product.recommended }} </a></h3>
                {% endif %}
	

        </div>

    </div>

{% endblock %}